@model CostEstimate.Models.Options
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Option Values</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OptionName" class="control-label"></label>
                <input asp-for="OptionName" class="form-control" />
                <span asp-validation-for="OptionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionValue" class="control-label"></label>
                <input asp-for="OptionValue" class="form-control" />
                <span asp-validation-for="OptionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateChanged" class="control-label"></label>
                <input asp-for="DateChanged" class="form-control" />
                <span asp-validation-for="DateChanged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Options">Back to List</a>
</div>