@model int
<div class="jumbotron">
    <h1>Error @Model</h1>
    <h3>That’s odd... Something we didn't expect happened"</h3>
    <h4></h4>
    <h4><a class="btn btn-default" href='javascript:history.go(-1)'>Return to Previous Page</a></h4>
</div>