<hr />
<p>
    <a asp-action="Index" asp-controller="Project">View Projects</a> | <a asp-action="Create" asp-controller="Project">Create New Project</a> | <a asp-action="ViewCost" asp-controller="Project">View Cost Models</a> | <a asp-action="CreateCosting" asp-controller="Project">Create Cost Model</a> | <a asp-controller="costing" asp-action="Index">Costing</a>
</p>
<hr />